In [21]:
import pandas as pd

data = {
    "Name": ["Amit", "Riya", "Amit", "Karan", "Riya", "Amit", "Neha"],
    "Subject": ["Math", "Science", "English", "Math", "English", "Science", "Math"],
    "Marks": [85, 78, 90, 88, 74, 5, 95]
}

df = pd.DataFrame(data)
print("ðŸ”¹ Original Data:")
print(df)

ðŸ”¹ Original Data:
    Name  Subject  Marks
0   Amit     Math     85
1   Riya  Science     78
2   Amit  English     90
3  Karan     Math     88
4   Riya  English     74
5   Amit  Science      5
6   Neha     Math     95

In [22]:
avg=df.groupby("Name")["Marks"].mean() #Find average marks of each student
print(avg)

Name
Amit     60.0
Karan    88.0
Neha     95.0
Riya     76.0
Name: Marks, dtype: float64

In [23]:
result=df.groupby(["Name","Subject"])["Marks"].mean() #Group by 2 columns it is multi level grouping 
print(result)

Name   Subject
Amit   English    90.0
       Math       85.0
       Science     5.0
Karan  Math       88.0
Neha   Math       95.0
Riya   English    74.0
       Science    78.0
Name: Marks, dtype: float64

In [24]:
result=df.groupby(["Name","Subject"])["Marks"].mean().reset_index() #Add .reset_index() for cleaner output
print(result)

    Name  Subject  Marks
0   Amit  English   90.0
1   Amit     Math   85.0
2   Amit  Science    5.0
3  Karan     Math   88.0
4   Neha     Math   95.0
5   Riya  English   74.0
6   Riya  Science   78.0

In [25]:
 summary=df.groupby("Name")["Marks"].agg(["min","max","mean","count"]) #Use .agg() for multiple summaries
print(summary)

       min  max  mean  count
Name
Amit     5   90  60.0      3
Karan   88   88  88.0      1
Neha    95   95  95.0      1
Riya    74   78  76.0      2

In [26]:
summary.sort_values(by="mean", ascending=False, inplace=True)
print(summary)

       min  max  mean  count
Name
Neha    95   95  95.0      1
Karan   88   88  88.0      1
Riya    74   78  76.0      2
Amit     5   90  60.0      3

In [29]:
summary=df.groupby("Name")["Marks"].agg(["mean","max"])
print(summary)

       mean  max
Name
Amit   60.0   90
Karan  88.0   88
Neha   95.0   95
Riya   76.0   78

In [30]:
import pandas as pd

data = {
    "Student": ["Amit", "Riya", "Amit", "Karan", "Riya", "Amit", "Neha"],
    "Subject": ["Math", "Science", "English", "Math", "English", "Science", "Math"],
    "Marks": [85, 78, 90, 88, 74, 82, 95],
    "Attendance": [90, 85, 92, 88, 80, 93, 97]
}

df = pd.DataFrame(data)
print("ðŸ”¹ Dataset:\n", df)

ðŸ”¹ Dataset:
   Student  Subject  Marks  Attendance
0    Amit     Math     85          90
1    Riya  Science     78          85
2    Amit  English     90          92
3   Karan     Math     88          88
4    Riya  English     74          80
5    Amit  Science     82          93
6    Neha     Math     95          97

In [38]:
res=df.groupby("Student")[["Marks","Attendance"]].mean()
print(res)

  Student  Subject  Marks  Attendance
0    Amit     Math     85          90
1    Riya  Science     78          85
2    Amit  English     90          92
3   Karan     Math     88          88
4    Riya  English     74          80
5    Amit  Science     82          93
6    Neha     Math     95          97