In [2]:
# Merging when Column Names are DIFFERENT

# or when there are multiple matching columns
import pandas as pd

dfA = pd.DataFrame({
    "Name": ["Amit", "Riya", "Karan", "Neha"],
    "Age": [16, 17, 16, 18]
})


dfB = pd.DataFrame({
    "Student": ["Amit", "Riya", "Karan", "Neha"],
    "Marks": [85, 78, 88, 95]
})

In [6]:
merged = pd.merge(dfA, dfB, left_on="Name", right_on="Student")
print(merged) #Column duplication ho gaya: Name + Student

    Name  Age Student  Marks
0   Amit   16    Amit     85
1   Riya   17    Riya     78
2  Karan   16   Karan     88
3   Neha   18    Neha     95

In [7]:
merged.drop("Student", axis=1, inplace=True)
print(merged)

    Name  Age  Marks
0   Amit   16     85
1   Riya   17     78
2  Karan   16     88
3   Neha   18     95

In [ ]:
merged = pd.merge(dfA, dfB, on="Name", suffixes=("_Left", "_Right")) 

#aur iska matlab ye hai ki dono table mai do same name column hai jinme se ek column same hai vo hai
# unique which is name and second is age which is not unique so usse left and right suffix dediya aur
# isme sirf voi rows aaegni jo dono table mai exist karti ho ek example ke sath btao

NameError: name 'hello' is not defined