In [2]:
import pandas as pd

dfMarks = pd.DataFrame({
    "Student": ["Amit", "Riya", "Karan", "Neha"],
    "Math": [85, 78, 88, 95],
    "Science": [80, 75, 92, 90]
})
print(dfMarks)

  Student  Math  Science
0    Amit    85       80
1    Riya    78       75
2   Karan    88       92
3    Neha    95       90

In [3]:
dfAttend = pd.DataFrame({
    "Student": ["Amit", "Riya", "Karan", "John"],
    "Attendance": [90, 85, 88, 80]
})
print(dfAttend)

  Student  Attendance
0    Amit          90
1    Riya          85
2   Karan          88
3    John          80

In [4]:
dfSports = pd.DataFrame({
    "Student": ["Amit", "Neha", "John", "Riya"],
    "Sports": [8, 10, 6, 7]
})
print(dfSports)

  Student  Sports
0    Amit       8
1    Neha      10
2    John       6
3    Riya       7

In [8]:
merged=pd.merge(dfMarks,dfAttend,on="Student",how="outer")
print(merged)

  Student  Math  Science  Attendance
0    Amit  85.0     80.0        90.0
1    John   NaN      NaN        80.0
2   Karan  88.0     92.0        88.0
3    Neha  95.0     90.0         NaN
4    Riya  78.0     75.0        85.0

In [9]:
merge=pd.merge(merged,dfSports,on="Student",how="outer")
print(merge)

  Student  Math  Science  Attendance  Sports
0    Amit  85.0     80.0        90.0     8.0
1    John   NaN      NaN        80.0     6.0
2   Karan  88.0     92.0        88.0     NaN
3    Neha  95.0     90.0         NaN    10.0
4    Riya  78.0     75.0        85.0     7.0

In [11]:
merge.fillna(0, inplace=True)
print(merge)

  Student  Math  Science  Attendance  Sports
0    Amit  85.0     80.0        90.0     8.0
1    John   0.0      0.0        80.0     6.0
2   Karan  88.0     92.0        88.0     0.0
3    Neha  95.0     90.0         0.0    10.0
4    Riya  78.0     75.0        85.0     7.0

In [13]:
merge['Total'] = merge.drop(columns=['Student']).sum(axis=1) 
print(merge)

  Student  Math  Science  Attendance  Sports  Total
0    Amit  85.0     80.0        90.0     8.0  263.0
1    John   0.0      0.0        80.0     6.0   86.0
2   Karan  88.0     92.0        88.0     0.0  268.0
3    Neha  95.0     90.0         0.0    10.0  195.0
4    Riya  78.0     75.0        85.0     7.0  245.0

In [17]:
topper=merge['Total'].idxmax()
print("top student: ",merge.loc[topper])

top student:  Student       Karan
Math           88.0
Science        92.0
Attendance     88.0
Sports          0.0
Total         268.0
Name: 2, dtype: object