In [1]:
import pandas as pd

df1 = pd.DataFrame({
    "Student": ["Amit", "Riya", "Karan", "Neha"],
    "Marks": [85, 78, 88, 95]
})
print(df1)

  Student  Marks
0    Amit     85
1    Riya     78
2   Karan     88
3    Neha     95

In [2]:
df2 = pd.DataFrame({
    "Student": ["Amit", "Riya", "Karan", "Neha"],
    "Attendance": [90, 85, 88, 97]
})
print(df2)

  Student  Attendance
0    Amit          90
1    Riya          85
2   Karan          88
3    Neha          97

In [3]:
merged=pd.merge(df1,df2,on="Student")
print(merged)

  Student  Marks  Attendance
0    Amit     85          90
1    Riya     78          85
2   Karan     88          88
3    Neha     95          97

In [ ]:
# üß† Mismatch kya hota hai?

# Row Student name ke basis par milti hai.

# "Amit" ‚úî ‚Üí dono tables me

# "Riya" ‚úî ‚Üí dono me

# "Karan" ‚úî ‚Üí dono me

# Neha ‚ùå ‚Üí sirf df1 (Marks) me

# John ‚ùå ‚Üí sirf df2 (Attendance) me

# üëâ Yahi mismatch kehte hain
# üëâ Aur joins ka kaam hai decide karna:
# kisko final table me rakhe aur kisko na rakhe

In [5]:
df1 = pd.DataFrame({
    "Student": ["Amit", "Riya", "Karan", "Neha"],
    "Marks": [85, 78, 88, 95]
})

In [6]:
df2 = pd.DataFrame({
    "Student": ["Amit", "Riya", "Karan", "John"],
    "Attendance": [90, 85, 88, 80]
})

In [7]:
#first is inner join which say include only common 

inner = pd.merge(df1, df2, on="Student", how="inner")
print(inner)

  Student  Marks  Attendance
0    Amit     85          90
1    Riya     78          85
2   Karan     88          88

In [8]:
#second is left join-- Marks wali table (df1) priority

left=pd.merge(df1,df2,on="Student",how="left")
print(left)

  Student  Marks  Attendance
0    Amit     85        90.0
1    Riya     78        85.0
2   Karan     88        88.0
3    Neha     95         NaN

In [9]:
#third  is right  join-- attendance wali table (df1) priority
right = pd.merge(df1, df2, on="Student", how="right")
print(right)

  Student  Marks  Attendance
0    Amit   85.0          90
1    Riya   78.0          85
2   Karan   88.0          88
3    John    NaN          80

In [10]:
# Sab jaga se sab kuch
# ‚Üí NaN where mismatch
outer = pd.merge(df1, df2, on="Student", how="outer")
print(outer)

  Student  Marks  Attendance
0    Amit   85.0        90.0
1    John    NaN        80.0
2   Karan   88.0        88.0
3    Neha   95.0         NaN
4    Riya   78.0        85.0

In [11]:
#pehle data banate hain (indexes different rakh kar)
df_marks = pd.DataFrame({
    "Marks": [85, 78, 88, 95]
}, index=["Amit", "Riya", "Karan", "Neha"])

df_att = pd.DataFrame({
    "Attendance": [90, 85, 88, 97]
}, index=["Amit", "Riya", "Karan", "Neha"])

print(df_marks)
print(df_att)

       Marks
Amit      85
Riya      78
Karan     88
Neha      95
       Attendance
Amit           90
Riya           85
Karan          88
Neha           97

In [13]:
joined = df_att.join(df_marks) #joined using attendance
print(joined)

       Attendance  Marks
Amit           90     85
Riya           85     78
Karan          88     88
Neha           97     95

In [14]:
#concat() and row wise concat 
row_added = pd.concat([df_marks, df_marks])
print(row_added)

       Marks
Amit      85
Riya      78
Karan     88
Neha      95
Amit      85
Riya      78
Karan     88
Neha      95

In [15]:
col_added = pd.concat([df_marks, df_att], axis=1)
print(col_added) #columns wise concat

       Marks  Attendance
Amit      85          90
Riya      78          85
Karan     88          88
Neha      95          97

In [17]:
joined.to_csv("joined.csv", index=False)