In [3]:
import pandas as pd

data = {"Date": ["2025-01-01", "2025-02-15", "2025-03-10"],
        "Sales": [100, 150, 200]}

df = pd.DataFrame(data)

In [4]:
df

         Date  Sales
0  2025-01-01    100
1  2025-02-15    150
2  2025-03-10    200

In [5]:
df["Date"] = pd.to_datetime(df["Date"])  # ðŸ‘ˆ IMPORT
df

        Date  Sales
0 2025-01-01    100
1 2025-02-15    150
2 2025-03-10    200

In [6]:
print(df.dtypes) #we changed the datatype from  string to this....

Date     datetime64[ns]
Sales             int64
dtype: object

In [7]:
df["Year"] = df["Date"].dt.year #Date column se baaki useful information nikalne ka formula:
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day
df["Weekday"] = df["Date"].dt.day_name()

print(df)

        Date  Sales  Year  Month  Day    Weekday
0 2025-01-01    100  2025      1    1  Wednesday
1 2025-02-15    150  2025      2   15   Saturday
2 2025-03-10    200  2025      3   10     Monday

In [12]:
import pandas as pd #Duration Calculate Karna

data = {
    "Start_Date": ["2025-01-01", "2025-02-01", "2025-03-10"],
    "End_Date": ["2025-01-10", "2025-02-20", "2025-04-05"]
}

df = pd.DataFrame(data)

df["Start_Date"] = pd.to_datetime(df["Start_Date"])
df["End_Date"] = pd.to_datetime(df["End_Date"])

df["Duration_days"] = (df["End_Date"] - df["Start_Date"]).dt.days

print(df)

  Start_Date   End_Date  Duration_days
0 2025-01-01 2025-01-10              9
1 2025-02-01 2025-02-20             19
2 2025-03-10 2025-04-05             26

In [13]:
import pandas as pd
from datetime import datetime

data = {"Name": ["Amit", "Riya", "Neha"],
        "Birthdate": ["2000-05-20", "1998-10-15", "2003-01-30"]}

df = pd.DataFrame(data)

df["Birthdate"] = pd.to_datetime(df["Birthdate"])
today = pd.to_datetime("today")

df["Age"] = (today - df["Birthdate"]).dt.days // 365

print(df) #Calculate Age or Tenure from Date

   Name  Birthdate  Age
0  Amit 2000-05-20   25
1  Riya 1998-10-15   27
2  Neha 2003-01-30   22

In [14]:
import pandas as pd #Date Based Filtering & Grouping
#goal- Kaunse din / kaunse month me sales zyada hoti hai?

data = {
    "Date": ["2025-01-01", "2025-01-03", "2025-01-05", "2025-01-07", "2025-01-10"],
    "Sales": [100, 200, 150, 300, 250]
}

df = pd.DataFrame(data)
df["Date"] = pd.to_datetime(df["Date"])
df["Weekday"] = df["Date"].dt.day_name()
df["Month"] = df["Date"].dt.month
print(df)

        Date  Sales    Weekday  Month
0 2025-01-01    100  Wednesday      1
1 2025-01-03    200     Friday      1
2 2025-01-05    150     Sunday      1
3 2025-01-07    300    Tuesday      1
4 2025-01-10    250     Friday      1

In [17]:
weekend = df[df["Weekday"].isin(["Saturday", "Sunday"])]
print(weekend) #Matlab â†’ Weekend me sirf 1 sale hui (150)

        Date  Sales Weekday  Month
2 2025-01-05    150  Sunday      1

In [18]:
result = df.groupby("Weekday")["Sales"].mean()
print(result)   # neeche output ke hisaab se tuesday ko sabse best sale hua

Weekday
Friday       225.0
Sunday       150.0
Tuesday      300.0
Wednesday    100.0
Name: Sales, dtype: float64

In [19]:
monthly_sales = df.groupby("Month")["Sales"].sum()
print(monthly_sales) #har month ki total sales add karta hai

Month
1    1000
Name: Sales, dtype: int64