In [4]:
import pandas as pd

customers = pd.DataFrame({
    "CustomerID": ["C01", "C02", "C03", "C04"],
    "Name": ["Amit", "Riya", "Karan", "Neha"]
})

orders = pd.DataFrame({
    "OrderID": ["O01", "O02", "O03", "O04", "O05"],
    "CustomerID": ["C01", "C02", "C01", "C04", "C05"],
    "Amount": [500, 700, 300, 900, 600]
})

In [5]:
orders

  OrderID CustomerID  Amount
0     O01        C01     500
1     O02        C02     700
2     O03        C01     300
3     O04        C04     900
4     O05        C05     600

In [6]:
customers

  CustomerID   Name
0        C01   Amit
1        C02   Riya
2        C03  Karan
3        C04   Neha

In [7]:
merged_inner = pd.merge(customers, orders, on="CustomerID", how="inner") #inner join lagaya 
print(merged_inner)

  CustomerID  Name OrderID  Amount
0        C01  Amit     O01     500
1        C01  Amit     O03     300
2        C02  Riya     O02     700
3        C04  Neha     O04     900

In [8]:
merged_left = pd.merge(customers, orders, on="CustomerID", how="left") #left join to check order missing
print(merged_left)

  CustomerID   Name OrderID  Amount
0        C01   Amit     O01   500.0
1        C01   Amit     O03   300.0
2        C02   Riya     O02   700.0
3        C03  Karan     NaN     NaN
4        C04   Neha     O04   900.0

In [9]:
merged_right = pd.merge(customers, orders, on="CustomerID", how="right") #we checked that customer missing 
print(merged_right)

  CustomerID  Name OrderID  Amount
0        C01  Amit     O01     500
1        C02  Riya     O02     700
2        C01  Amit     O03     300
3        C04  Neha     O04     900
4        C05   NaN     O05     600

In [13]:
merged_outer = pd.merge(customers, orders, on="CustomerID", how="outer")
print(merged_outer) #har cheez dikhao jaha order ya cutomer missing everything

  CustomerID   Name OrderID  Amount
0        C01   Amit     O01   500.0
1        C01   Amit     O03   300.0
2        C02   Riya     O02   700.0
3        C03  Karan     NaN     NaN
4        C04   Neha     O04   900.0
5        C05    NaN     O05   600.0

In [14]:
print("number of total customer is: ",merged_outer["CustomerID"].nunique())

number of total customer is:  5

In [31]:
merged_outer['OrderID'].isna() #to check which row has NaN value in orderid column

0    False
1    False
2    False
3     True
4    False
5    False
Name: OrderID, dtype: bool

In [35]:

print("Customers with Missing Orders:")
merged_outer[merged_outer["OrderID"].isnull()][["CustomerID","Name"]]

Customers with Missing Orders:

  CustomerID   Name
3        C03  Karan

In [37]:
suspicious = merged_outer[merged_outer["Name"].isnull()][["OrderID","Amount"]]
print("Suspicious Orders:")
print(suspicious)

Suspicious Orders:
  OrderID  Amount
5     O05   600.0

In [38]:
top_customer = merged_outer.groupby("Name")["Amount"].sum().sort_values(ascending=False)
print("Top Customer Spendings:")
print(top_customer)

Top Customer Spendings:
Name
Neha     900.0
Amit     800.0
Riya     700.0
Karan      0.0
Name: Amount, dtype: float64